/* PALLETE: https://lospec.com/palette-list/hollow */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body 
{
    min-width: 100vh;
    overflow-x: hidden;
    background: #0f0f1b;
}
header 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .logo 
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    Letter-spacing: 2px;
}

header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ui li 
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #2b1055;

}

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section::before 
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0f0f1b, transparent);
    z-index: 1000;
}

/* section img 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
} */

#text 
{
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}

#btn 
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fafbf6;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}

.sec 
{
    position: relative;
    padding: 100px;
    background: #0f0f1b;
}

.sec h2
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fafbf6;
}

.sec p
{
    font-size: 1.2em;
    color: #fafbf6;
}

#area {
    /* float: left; */
    background: #565a75;
    position: relative;
}

.square-stars {
    background: #fafbf6;
    width: 5px;
    height: 5px;
    /* border-radius: 50%; */
}

/* #big-star {
    width: 50px;
    height: 50px;
    object-position: 100% 10%;
    object-fit: none;  
} */

* {
    margin: 0;
    padding: 0;
}

/* #audio-button {
    background: green;
    display: flex;
    width: 50px;
    height: 50px;
    margin: 80px;
    position: fixed;
    right:    0;
    bottom:   0;
    cursor: pointer;
}

#audio-button-img {
    width: 100%;
    height: 100%;
} */
#audio-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px; 
    position: fixed;
    cursor: pointer;
    bottom: 20px; 
    left: 25px;
}

#audio-button:hover {
    background: url('../src/audioButtonCliked.png');
}